<div class="ui stripe community vertical segment">
    <div class="ui three column center aligned divided very relaxed stackable grid container">
      <div class="row">
        <div class="column">
          <h2 class="ui icon header">
            <i class="  icon"></i>
            What we Care?
          </h2>
          <p><b>Privacy is individual right.</b> <br> We are <b>Not saving or taking</b> any whatsapp chat backup. <br> As soon the uploaded file process it get deleted completely from uploaded location.</p>
        </div>
        <div class="column">
          <h2 class="ui icon header">
            
            How it's Working?
          </h2>
          <p>Program execution read the content and simply <b>display statstical graphs.</b> <br>Upload *txt file<br> Execute <br> Display <br> Delete the upload</p>
        </div>
        <div class="column">
          <h2 class="ui icon header">
            What to avoid & understand?
          </h2>
          <p>Avoid <b>Sensetive information</b> <br>Avoid to upload Chat with media <br> <b>No images or Video</b> are consider for processing. <br> It's text processing techinque only.</p>
        </div>
      </div>
    </div>
  </div>
