{% extends "base.html" %}

{% block title %} 404 Not Found {% endblock %}

{% block page_content %}

{% block head %}
{{ super() }}

{% endblock %}


<div class="ui middle container aligned">

  <div class="ui  middle centered grid slogan">
    <img class="ui image autumn leaf" src="{{ url_for('static', path='404.svg') }}">
  </div>

  {% include 'include/floatingbutton.html' %}

</div>

{% endblock %}

{% block script %}
<script>
  $(document)
    .ready(function () {
      $('.autumn.leaf')
        .transition('set looping')
        .transition('pulse', '2000ms')
    });

</script>
{% endblock %}