{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block page_content %}

{% block head %}
{{ super() }}

{% endblock %}

  {% include 'include/menu.html' %}


    <div class="ui horizontal divider container">
      <h4 class="ui header"><i aria-hidden="true" class="chart pie icon"></i>Statistic</h4>
    </div>

    <div class="ui hidden divider"></div>

    <div class="ui three grid statistics">
      <div class="ui statistic">
        <div class="value">{{ context.total_messages }}</div>
        <div class="label">Total Messages</div>
      </div>
      <div class="ui statistic">
        <div class="value">{{ context.total_emojis }}</div>
        <div class="label">Total Emoji's</div>
      </div>
      <div class="ui statistic">
        <div class="value">{{ context.total_images }}</div>
        <div class="label">Total Media</div>
      </div>
    </div>

    <div class="ui two grid statistics">
      <div class="ui  statistic">
        <div class="value">{{ context.total_link }}</div>
        <div class="label">Total Links</div>
      </div>
      <div class="ui floated statistic">
        <div class="value"><img src="{{ url_for('static', path='members.svg') }}" class="ui circular inline image">
          {{context.author_list }}</div>
        <div class="label">Group Members</div>
      </div>
    </div>


    <div class="ui hidden divider"></div>


    <div class="ui padded horizontal divider container">

      <h4 class="ui header"><i aria-hidden="true" class="braille icon"></i>Distribution</h4>
      
    </div>


    <div class="ui text container">
      <h1 class="ui dividing header container">Content</h1>
      <h3 class="first">Word Cloud</h3>
      <p>The word cloud highlight popular words and phrases based on frequency and relevance for messenger.</b>.</p>
      <p>Average words/message [ aw/m ], total Number of Emoji's, Media message and Links.</p>
      
    </div>



    <div class="ui hidden divider"></div>

    <div class="ui centered cards">

      {% for data in context.user_data %}

      <div class="ui raised card" id="longer-{{ data.user_number }}">
        <div class="content">
          <div class="floating ui green label">{{ data.user_number }}</div>
          <div class="right floated meta"><span>{{ data.avg_words_per_msg }} aw/m <i class="keyboard outline icon"></i>
            </span></div>
          <a class="ui large {{ data.color }} label">
            {{ data.author }}
            </a>

          </div>
          <div class="image">
            <img src="{{ data.word_cloud }}" data-toggle="modal">
          </div>
          <div class="content">
            <span class="right floated">
              <i class="whatsapp square like icon"></i>
              {{ data.emojis_sent }} Emoji's
            </span>
            <i class="comment icon"></i>
            {{ data.message_sent }} Messages
          </div>
          <div class="extra content">
            <span class="right floated">
              <i class="images icon"></i>
              {{ data.media_msg }} Media
            </span>
            <span>
              <i class="linkify icon"></i>
              {{ data.link_share }} Shared
            </span>
          </div>

      </div>


      <div class="ui basic large modal longer-{{ data.user_number }}">
        <i class="close icon"></i>
        <div class="header">
          {{ data.author }}
        </div>
        <div class="image content">
          <div class="ui massive image">
            <img src="{{ data.word_cloud }}">
          </div>
          <div class="description">
            <div class="ui white header">Summary</div>

            <div class="ui two column grid">
              <div class="column">
                <div class="ui raised segment">
                  <a class="ui red ribbon label">Messages</a>
                  <div class="ui hidden divider"></div>
                  <a class="ui {{ data.color }} circular label">{{ data.message_sent }}</a>
                  <p></p>
                  <a class="ui blue ribbon label">Emoji's</a>
                  <div class="ui hidden divider"></div>
                  <a class="ui {{ data.color }} circular label">{{ data.emojis_sent }}</a>
                  <p></p>
                </div>
              </div>
              <div class="column">
                <div class="ui raised segment">
                  <a class="ui orange right ribbon label">Media</a>
                  <div class="ui hidden divider"></div>
                  <a class="ui {{ data.color }} circular label">{{ data.media_msg}}</a>
                  <p></p>
                  <a class="ui teal right ribbon label">Links</a>
                  <div class="ui hidden divider"></div>
                  <a class="ui {{ data.color }} circular label">{{ data.link_share }}</a>
                  <p></p>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="actions">
          <div class="ui positive deny button">
            Close Me
          </div>
        </div>  
      </div>


      <script type="text/javascript">
        $(function () {
          $("#longer-{{ data.user_number }}").click(function () {
            $(".longer-{{ data.user_number }}").modal('show');
          });
          $(".longer-{{ data.user_number }}").modal({
            closable: true
          });
        });
      </script>

      {% endfor %}
    </div>



    <div class="ui padded horizontal divider container">
      <h4 class="ui header"><i aria-hidden="true" class="chart bar outline icon"></i>Chats & Summary</h4>
    </div>

  

    <div class="ui massive raised text middle container">
      <div class="ui huge fluid vertical menu">
        <div class="ui fluid black ribbon label segment" style="margin-left: +12px;">
          <i class="comment outline icon"></i>Top Messenger
        </div>
        {% for data in context.user_data|sort(attribute='message_sent', reverse = True) %}
        <div class="item">{{ data.author }} <div class="ui label">{{ data.message_sent }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% include 'include/floatingbutton.html' %}

  <style>
    .text.ui.container {
      padding: 2% !important;
    }

    .horizontal.ui.divider{
      padding-bottom: 2% !important;
    }
    .centered.ui.cards{
      padding-bottom: 3%;
    }
    .grid.ui.statistics {
      padding: 3% !important;
      align-items: center;
      float: inline-end;
    }
  </style>


{% include 'include/footer.html' %}


{% endblock %}
